.food_items_list{
	width:1010px;
	margin:0 auto;
	text-align:center;
}
.food_items_list:after{
	content: '';
	display: table;
	clear: both;
}
.food_items_list span{
	font-size:30px;
	color:brown;
	font-weight:bold;
}
.food_list>li{
	float:left;
	box-sizing:border-box;
	width:252px;
	height:350px;
	text-align:center;
}
.food_list>li>img{
	height:300px;
	width:200px;
}
.food_list>li>img:hover{
	border:2px solid brown;
}
.info_item{
	color: brown;
	font-size:20px;
	font-weight:bold;
}
.collection{
	cursor:pointer;
	display:block;
	text-align: left;
	width:50px;
	font-size:12px;
	margin-left:170px;
	line-height: 24px;
	background:url(../images/coll_1.png) no-repeat right top;
}
.collection:hover{
	color: #ff646c;
}
/*****product_nav***************************************/
.product_nav{
	width:1010px;
	height: 30px;
	margin:20px auto;
	padding-left:395px;
	box-sizing: border-box;
}
.product_nav>li{
	margin-right:5px;
	float: left;
}
.product_nav>li>a{
	border-radius:7px;
	background: wheat;
	text-align: center;
	line-height:30px;
	display: inline-block;
	height: 30px;
	width: 40px;
	font-weight:bold;
	color: gray;
}
.product_nav>li>a:hover{
	background: seashell;
}
/*******food_nav***************************/
.food_nav{
	position: fixed;
	left: 50px;
	top:200px;
	width:80px;
	height: 320px;
	text-align: center;
	font-size: 20px;
	font-weight:bold;
	
}
.food_nav>ul>li>a{
	display: block;
	width: 80px;
	height: 40px;
	background: wheat;
	color: rosybrown;
	line-height:40px;
	border-radius:5px;
}
.food_nav>ul>li>a:hover{
	background: white;
	color: brown;
}

/******************************各菜单之间的切换*/
.food_show{
	display: block;
	background: gray;
}
.food_hidden{
	display: none;
}
