.forum_content{
    width:700px;
    margin:10px auto;
}
.forum_content_top{
    margin:0 auto;
    height: 50px;
    width:360px;
    border:1px solid #f0f0f0;
    border-radius: 4px;
    background: #fafafa;
    line-height: 50px;
}
.forum_content_top>li{
    margin-top:15px;
    height:20px;
    float: left;
    width:119px;
    text-align: center;
    line-height: 20px;

}
.forum_content_top>li:not(:first-child){
    border-left:1px solid #f0f0f0;
}
.forum_content_top>li>a{
    display: inline-block;
    color: #6C829F;
}
.forum_content_top>li>a>i{
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
.forum_question>i{
    background: url(../images/forum.png) no-repeat -148px -30px;
}
.forum_response>i{
    background: url(../images/forum.png) no-repeat -96px -30px;
}
.forum_article>i{
    background: url(../images/forum.png) no-repeat -122px -56px;
}
.forum_content_top>li>a:hover{
    color: #225599;
}
.forum_question:hover >i{
    background-position: -122px -30px;
}
.forum_response:hover >i{
    background-position: -96px -56px;
}
.forum_article:hover >i{
    background-position: -174px -30px;
}
.forum_selection{
    height:30px;
    width:700px;
    margin-top:40px;
    border-bottom:1px solid #B5B5B5;
}
.forum_selection>i{
    display: inline-block;
    height:24px;
    width:35px;
    vertical-align: middle;
    background: url(../images/forum.png) no-repeat -165px -74px;
}
.forum_content_list {
    padding: 10px 0;
    border-bottom: 1px solid #B5B5B5;
}
.forum_content_title{
    font-weight:700;
    font-size:20px;
}
.forum_content_article{
    margin:0 auto;
    width:600px;
    height:auto;
    line-height: 1.5em;
}
.question{
    display: none;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: white;
}
.question_panel{
    overflow: hidden;
    width:700px;
    height:600px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left:-350px;
    margin-top:-300px;
}
.question_panel>span{
    font-size:40px;
    margin-left:300px;
    font-weight: bold;
}
#question_title{
    display: block;
    height:46px;
    font-size:40px;
    border:0;
    font-weight:bold;
}
.question hr{
    margin:30px 0;
}
#question_content{
    width:600px;
    /*border:0;*/
    font-size: 20px;
    font-weight: 700;
    outline:0;
    padding:10px;
}
#publish{
    display: block;
    height:32px;
    width:80px;
    border:1px solid #b3b3b3;
    color: #b3b3b3;
    line-height:32px;
    text-align: center;
    border-radius: 4px;
}
#publish:hover{
    border-color: #0080ff;
    color: #0080ff;
}
.question>span{
    cursor: pointer;
    position: fixed;
    right:220px;
    top:39px;
    display: block;
    height:32px;
    width:80px;
    border:1px solid #b3b3b3;
    color: #b3b3b3;
    line-height:32px;
    text-align: center;
    border-radius: 4px;
}
.question>span:hover{
    color: #000;
    border-color: #000;
}
.forum_open{
    vertical-align: middle;
    color: #0080ff;
    cursor: pointer;
    height:20px;
    width:85px;
    overflow:hidden;
    display: inline-block;
}
